@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
main {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(270deg, #706897, #9088d4);
    background-size: 400% 400%;
    animation: gradientBg 20s ease infinite;
}

* {
    margin: 0;
    padding: 0;
}

main {
    width: 70vw;
    height: 70vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 15%;
    padding-right: 15%;
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    background-color: #ebcfc4;
    border: 2px solid gray;
    border-radius: 15px;
}



.start-button {
    width: 50%;
    height: 60px;
    background-color: #fff3e2;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    border: 2px solid gray;
    transition: all 0.3s ease;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

.start-button:disabled{
    background-color: #ffd396;
    color: #ffd396;
    transition: all 0.3s ease;
}

.start-button:focus {
    outline: none;
}

.start-button:hover {
    background-color: #ffd396;
    transition: all 0.3s ease;
}

.container {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.info {
    height: 60px;
    width: 100%;
}

.info-button {
    height: 100%;
    width: 60px;
    float: right;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.overlay h1 {
    font-size: 2rem;
    padding: 15px;
    margin-bottom: 20px;
}

.overlay ol {
    font-size: 1.25rem;
}

.overlay ol li {
    padding: 15px;
}

.overlay .illustration {
    margin-top: 20px;
    font-size: 3rem;
}

.overlay .illustration i {
    padding: 20px;
}

.overlay-info {
    transition: all 0.3s ease;
    border: 2px solid gray;
    background-color: #deb09e;
}

.overlay .h1-status{
    font-size: 3rem;
    letter-spacing: 0.25rem;
}
.overlay .p-status{
    font-size: 2rem;
    letter-spacing: 0.25rem;
}
#webcam-container{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#webcam-container canvas{
    border: 2px solid gray;
    border-radius: 15px;
    width: auto;
    height: 100%;
}
#label-container{
    font-size: 2rem;
    padding: 5px;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
}
@media only screen and (max-width: 700px) {
    main {
        width: 80vw;
        height: 90vh;
        margin: 0;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 10%;
        padding-right: 10%;
    }
    .wrapper {
        height: 100%;
        width: 100%;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        transition: all 0.3s ease;
    }
    .overlay {
        height: 65%;
        width: 70%;
    }
    .overlay h1 {
        font-size: 1rem;
        padding: 15px;
        margin: 0;
    }
    .overlay ol {
        width: 90%;
        list-style: none;
        font-size: 1rem;
    }
    .overlay ol li {
        padding: 10px;
    }
    .overlay .illustration {
        font-size: 2rem;
    }
    .overlay .illustration i {
        padding: 10px;
    }
    .info {
        height: 60px;
    }
    #webcam-container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #webcam-container canvas{
        border: 2px solid gray;
        border-radius: 15px;
        width: 100%;
        height: auto;
    }
}
